.contact {
  margin-top: 2rem;
  p {
    color: var(--Primary-color);
    line-height: var(--Text-line-height);
  }
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 3rem;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    background-color: var(--Primary-color);
    color: #ffff;
    width: 368px;
  }
  .contact {
   
    margin-top: 4rem;
    justify-content: center;
  }
}